* {
    margin: 0;
}
::-webkit-scrollbar {
    width: 0px;
}
#top_bar {
    width: 100%;
    background-color: #333;
    height: 10%;
    position: absolute;
    border-bottom: solid 1pt gray;
    border-top: solid 1pt gray;
    z-index: 10;
    display: flex;
    font-family: Calibri;
    justify-content: center;
    color: white;
    z-index: 111;
}
@keyframes top_bar_fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.top_bar_button {
    border-left: solid 1pt gray;
    padding: 0 30px;
    display: flex;
    align-items: center;
    visibility: hidden;
    position:absolute;
    cursor: pointer;
    opacity: 0;
    animation-name: top_bar_fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.top_bar_alternate_button {
    visibility: visible;
    display: flex;
    align-items: center;
    border-right: solid 1pt gray;
    border-left: solid 1pt gray;
    padding: 0 30px;
    font-size: 24pt;
    cursor: pointer;
}
#top_bar_end {
    height: 100%;
    width: 1px;
    background-color: gray;
    opacity: 0;
    animation-name: top_bar_fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.top_bar_button:hover {
    background-color: #272727;
}
#ui {
    background-color: #272727;
    border-top: solid 3pt gold;
    padding-bottom: 5px;
    border-bottom: solid 3pt gold;
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    height: fit-content;
    z-index: 100;
    visibility:hidden;
}
#ui_debug {
    position: absolute;
    z-index: -1;
    color: red;
    font-size: 30pt;
}
.ui_page {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #272727;
    color: white;
    font-family: Calibri;
    z-index: 102;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    font-size: 10pt;
    text-align: center;
    min-height:188px;
}
#ui_mobile {
    width: 100%;
    height: fit-content;
    background-color:green;
    visibility: visible;
    position: static;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    animation-duration: 0.3s;
    animation-fill-mode:both;
    visibility: hidden;
    border-bottom: solid 1pt gray;
}
.top_bar_mobile_button {
    border: solid 1pt gray;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    margin: 10px 0;
    font-family: Calibri;
    color: white;
}
@keyframes mobile_fadein {
    0% {top: -30%;}
    100% {top: 10%;}
}
#ui_menu_buttons_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
}
#ui_menu_buttons {
    border: solid 1pt gray;
    background-color: #333;
    font-size: 16pt;
    margin: 10px;
    color: white;
    padding: 15px;
    cursor: pointer;
}
#ui_menu_buttons:hover {
    background-color: #272727;
}
#ui_menu_widgets img {
    width: 15%;
    margin-top: 90px;
    cursor: pointer;
}
#ui_stats {
    display: flex;
    flex-direction: column;
}
.ui_statscard {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    border: solid 1pt gray;
    padding: 5px 30px;
    margin: 10px 10px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}
.ui_statscard:hover {
    background-color: #333;
}
#ui_health_mana {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content:space-evenly;
}
.ui_statscard2 {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding: 5px 0px;
    margin: 10px 0;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}
.ui_statscard2:hover {
    background-color: #333;
}
#ui_mana_card {
    color: aquamarine;
}
#ui_health_card {
    color: lightcoral;
}
.ui_statscard3 {
    width: 1px;
    background-color: gray;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
}
.ui_statheader, .ui_statvalue {
    margin: 0 5px;
    font-size: 24pt;
}
.ui_statcard_image {
    width: 32px;
    height: auto;
}
.ui_statcards_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#content {
    left: 0%;
    width: 100%;
    min-height:100%;
    height: fit-content;
    top: 10%;
    position: absolute;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    align-items: center;
}
#body {
    font-family:Calibri;
    font-size:16pt;
    color: white;
    padding: 0px 20px;
}
/*#centerme {
    width: 64px;
    height: 64px;
    background-color: yellow;
}*/
@media screen and (min-width: 768px) {
    .top_bar_button {visibility: visible; font-size: 10pt; position:static;}
    .top_bar_alternate_button {visibility: hidden; position:absolute;}
    .ui_page {font-size: 20pt;}
}
@media screen and (min-width: 1024px) {
.top_bar_button {font-size: 15pt;}
}
@media screen and (min-width: 1355px) {
    .ui_statscard3 {height: 100px; position: static;}
}