#game {
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 22px;
}
.std_window {
    width: 95%;
    padding-top: 20px;
}

.std_option_window {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.std_options_dead {
    color: lightcoral;
}

.std_options_fake {
    color: gray;
    padding: 3px 15px 3px 10px;
}

.std_options {
    cursor: pointer;
    transition: 0.1s linear;
    padding: 3px 15px 3px 10px;
    border-radius: 3px;
}

.std_options:hover {
    background-color: gray;
}

.std_meta_window {
    display: flex;
    flex-flow: column nowrap;
    border-top: solid 1px gray;
    width: 100vw;
    padding: 0;
}

.std_meta_window > * {
    padding-left: 1vw;
    padding-top: 5px;
    color: gray;
    transition: 0.1s linear;
    padding-bottom: 5px;
}

.std_meta_window > *:hover {
    background-color: #333;
}


.st_a {
    color: pink;
}

@media screen and (min-width: 1024px) {
    .std_storywindow, .std_option_window, #trade {width: 90%}
}

@media screen and (min-width: 1440px) {
    .std_storywindow, .std_option_window, #trade {width: 85%}
}

@media screen and (min-width: 1920px) {
    .std_storywindow, .std_option_window, #trade {width: 80%}
}
