@import "headers/menu.css";
@import "headers/map.css";
@import "headers/stats.css";

#header {
    background-color: #333;
    display: flex;
    flex-flow: row wrap;
    font-size: 30px;
    justify-content: center;
    height: fit-content;
}

#header > div {
    flex-grow: 1;
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s linear;
    padding: 0 10px;
}

#header > div:hover {
    background-color: #272727;
}

#header > .hidden {
    display: none !important;
}

#global > .hidden {
    display: none;
}

.header_pages {
    width: 100vw;
    background-color: rgba(39, 39, 39, 0.98);
    z-index: 100;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
}