@import "headers/map.css";
@import "headers/stats.css";
@import "headers/inventory.css";

#header {
    background-color: #333;
    display: flex;
    flex-flow: row wrap;
    font-size: 30px;
    justify-content: space-evenly;
    border-top: solid 1px gray;
}

#header > div {
    text-align: center;
    flex-grow: 1;
    padding: 5px 10px;
    border: solid 1px gray;
    margin-top: -1px;
    margin-left: -1px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

#header > div:first-child {
    margin-left: 0px;
}

#header > div:hover {
    background-color: #272727;
}