@import "fonts/stylesheet.css";

@import "header.css";
@import "game.css";
@import "lore.css";
@import "trade.css";

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: white;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    background-color: #272727;
    min-height: 100vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body::-webkit-scrollbar {
    background-color: #272727;
    width: 1em;
    border-left: solid 1px gray;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border: solid 1px gray;
    border-right: none;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #B5B5B5;
}

body::-webkit-scrollbar-thumb:active {
    background-color: pink;
}