#trade {
    display: none;
    flex-flow: column nowrap;
    align-self: center;
    margin-top: 20px;
    width: 95%;
    background-color: #333;
    border: dashed 1px gray;
    border-radius: 3px;
}

#trade > div:first-child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: solid 1px gray;
}

#trade > div:first-child > h1 {
    font-size: 20px;
    padding: 5px 10px;
    flex-grow: 1;
    transition: 0.1s linear;
    text-align: center;
    font-weight: normal;
}
#trade > div:first-child > h1:hover {
    background-color: #272727;
}

#trade_gold {
    color: gold;
}
#trade_close {
    transition: 0.1s linear;
    cursor: pointer;
}
#trade_close:hover {
    color: lightcoral;
}

#trade_shop {
    display: flex;
    flex-flow: column nowrap;
    grid-template-columns: auto auto;
    padding: 10px;
}

.trade_item {
    cursor: pointer;
    transition: background-color 0.1s linear;
    transition: border 0.3s linear;
    padding: 5px;
    border: solid 1px transparent;
    display: flex;
    flex-flow: row nowrap;
}
.trade_item:hover {
    background-color: #272727;
    border: solid 1px gray;
}
.trade_item > img {
    width: 64px;
    height: 64px;
}
.trade_item > div {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 10px;
    width: 100%;
}
.item_name {
    font-size: 18px;
}
.item_desc {
    color: #D3D3D3;
}
.item_cost {
    color: gold;
    text-align: right;
}

.trade_item > div > div > p:first-child {
    color: gray;
}
.trade_item > div > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    #trade_shop {
        display: grid;
    }
}

@media screen and (min-width: 1920px) {
    #trade_shop {
        grid-template-columns: auto auto;
    }
}