body {
    background-color: #333;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#header {
    color: white;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    transition: border 0.1s linear;
    transition: background-color 0.3s linear;
    background-color: transparent;
    border-bottom: solid 1px transparent;
    margin-bottom: 0px;
}

#header:hover {
    background-color: #272727;
    border-bottom: solid 1px gray;
}
/*#header:hover ~ .config_div {
    border-bottom: solid 1px rgba(128, 128, 128, 0.2);
    border-left: solid 1px rgba(128, 128, 128, 0.2);
}*/

#header:hover ~ div > #load_file_label {
    border-bottom: solid 1px rgba(128, 128, 128, 0.2);
    border-right: solid 1px rgba(128, 128, 128, 0.2);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#load_file_label {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    top: 0px;
    left: 0px;
    transition: border 0.1s linear;
    transition: background-color 0.3s linear;
    background-color: transparent;
    border-bottom: transparent;
    border-right: transparent;
}

#load_file_label:hover {
    background-color: #272727;
    border-bottom: solid 1px gray;
    border-right: solid 1px gray;
}

.node {
    position: absolute;
    background-color: gray;
    padding: 1px;
    margin: 1px;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.config_div {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    padding-right: 0;
    transition: border 0.1s linear;
    transition: background-color 0.3s linear;
    border: solid transparent 1px;
    right: 0px;
    min-width: 200px;
}
#height_div > *:not(input) {
    cursor: pointer;
}
#height_div {
    top: 103px;
}
.config_div:hover {
    background-color: #272727;
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    border-top: solid 1px gray;
}

.config_div > button {
    background-color: transparent;
    border: solid 1px gray;
    height: 24px;
    transition: background-color 0.1s linear;
    transition: color 0.1s linear;
}
.config_div > button:hover {
    background-color: pink;
    color: black;
}

.config_input {
    color: black;
    width: 40px;
    outline: none;
    padding: 0px;
    font-size: 16px;
}
#weight_div {
    top: 58px;
    padding-right: 10px;
}

#console_element {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 58px;
    left: 0px;
    border: solid 1px transparent;
    border-left: none;
    transition: border 0.1s linear;
    transition: background-color 0.3s linear;
    overflow-y: auto;
    padding: 5px;
}

#console_element::-webkit-scrollbar {
    display: none;
}

#console_element:hover {
    border: solid 1px gray;
    border-left: none;
    background-color: #272727;
}

.console_msg {
    margin: 0;
    padding: 0;
    color: gray;
}

#regenerate_div {
    top: 0px;
    min-width: auto;
    padding-right: 10px;
}

#color_div {
    top: 150px;
}

select, option {
    color: black;
    outline: none;
}