#header_2 #location_meta {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #272727;
    max-height: 150px;
    overflow-y: auto;
}

#header_2 #location_meta > h1 {
    width: 100%;
    margin: 0;
}

#header_2 #location_meta > div {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#header_2 #location_meta > div > div {
    display: flex;
    flex-flow: row nowrap;
}

#header_2 #location_meta > div > .map_zoom > button {
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 1px 3px 0 3px;
    padding: 0 5px;
}

#header_2 #location_meta > div > div > .map_outputs {
    color: black;
    width: 40px;
    margin-left: 5px;
    outline: none;
}

#header_2 #location_select {
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 30px;
    overflow: auto;
}

#header_2 #location_select .map_s {
    left: 0.5vw;
    position: absolute;
    max-width: unset;
}

#header_2 #location_select::-webkit-scrollbar {
    width: 20px;
}
#header_2 #location_select::-webkit-scrollbar-track {
    background-color: gray;
}
#header_2 #location_select::-webkit-scrollbar-thumb {
    background-color: #333;
}
#header_2 #location_select::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}
#header_2 #location_select::-webkit-scrollbar-corner {
    background-color: transparent;
}
