#header_0 {
    align-content: flex-start;
}

#header_0_main {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: normal;
    cursor: default;
}

#header_0 .saveload button {
    border: solid 1px gray;
    padding: 5px;
    font-size: 18px;
    transition: 0.1s linear;
    cursor: pointer;
}

#header_0 .saveload button:hover {
    background-color: #272727;
}

#header_0 .saveload {
    border-right: solid 1px gray;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

#header_0 .saveload h2 {
    font-weight: lighter;
    width: 100%;
    text-align: center;
    transition: 0.1s linear;
    padding: 5px 0;
    border-bottom: solid 1px gray;
    cursor: default;
}

#header_0 .saveload h2:hover {
    background-color: #333;
}

#header_0 .saveload > div {
    display: flex;
    flex-flow: row nowrap;
    transition: 0.1s linear;
    padding: 10px 15px;
    justify-content: space-between;
    cursor: pointer;
}

#header_0 .saveload > div:hover {
    background-color: #333;
}

#header_0 .saveload > div:nth-child(3), #header_0 .saveload > div:nth-child(4) {
    cursor: not-allowed;
}