@import 'main_menu.css';
@import 'stats_menu.css';
@import 'map_menu.css';
@import 'inventory_menu.css';


/* TODO: Remove outline from checkboxes */

.menu {
  background-color: #272727;
  border: solid 1px gray;
  position: fixed;
  overflow-y: auto;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  z-index: 900;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
}


.menu > h1 {
  font-size: min(12vw, 60px);
  text-align: center;
  padding: 10px 0;
  letter-spacing: 2px;
}

/* Menu Fade In/Out */

.menu.menuFadeOut {
  animation-name: mainMenuFade;
  animation-direction: reverse;
}

.menu.menuFadeIn {
  animation-name: mainMenuFade;
}

@keyframes mainMenuFade {
  from {opacity: 0}
  to {opacity: 1}
}

/* Close Menu */

.menu > button {
  background-color: #272727;
  border-top: none;
  border-left: none;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  font-size: 18px;
  padding: 8px 5px;
  width: clamp(70px, 15vw, 220px);
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: color 0.1s linear, background-color 0.1s linear;
}

.menu > button:hover {
  background-color: #333;
  color: lightcoral;
}