#mainMenu {
  z-index: 999;
}

#mainMenu > h2 {
  font-weight: lighter;
  transition: color 0.1s linear, background-color 0.1s linear;
  text-align: center;
  cursor: pointer;
  padding: 5px 0;
}

#mainMenu > h2:hover {
  color: pink;
  background-color: #333;
}

#mainMenu > div {
  border-bottom: solid 1px gray;
  /* display: none; */
  position: relative;
  transition: top 1s linear;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  display: flex;
}

/* Single Column Divs */

#mainMenu div.single {
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-bottom: 10px;
}

#mainMenu div.single > * {
  width: calc(90% - 10px);
  margin: 0 5%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: background-color 0.1s linear;
  padding: 5px;
}

#mainMenu div.single > h3 {
  font-weight: lighter;
  color: gray;
}

#mainMenu div.single > div:hover {
  background-color: #333
}

#mainMenu div.single > div:hover > label {
  color: pink;
}

#mainMenu div.single > div > input[type='text'] {
  outline: none;
  color: black;
  font-size: 16px;
  padding: 0 3px;
  min-width: 200px;
}

#mainMenu div.single > div > input[type='checkbox'] {
  margin-right: 5px; 
}

#mainMenu div.single > div > label {
  flex-grow: 1;
  transition: color 0.1s linear;
}

/* Double Column Divs */

#mainMenu div.double {
  flex-flow: row wrap;
  justify-content: center;
}

#mainMenu div.double > * {
  min-width: 50%;
}

#mainMenu div.double > div {
  display: flex;
}

#mainMenu div.double > a {
  text-align: center;
  transition: color 0.1s linear, background-color 0.1s linear;
  cursor: pointer;
  padding: 8px 0;
  font-size: 18px;
  text-decoration: none;
}

#mainMenu div.double > a:hover {
  color: aquamarine;
  background-color: #333;
  text-decoration: underline solid 1px;
}

#mainMenu div.double > a:active {
  color: gold;
}

/* Saves List */

#mainMenu > div.saves {
  overflow-x: auto;
  min-height: 200px;
}

#mainMenu > div.saves > table {
  min-width: 470px;
/*   width: 80%; */
/*   margin: 0 10%; */
  padding: 0;
  border-collapse: collapse;
  display: table;
  text-align: center;
}

#mainMenu > div.saves > table * {
  border: solid 2px #383838;
}

#mainMenu > div.saves > table th {
  font-weight: lighter;
  color: gray;
  cursor: default;
}

#mainMenu > div.saves > table tr {
  transition: background-color 0.1s linear, opacity 0.25s linear;
}

#mainMenu > div.saves > table tr:hover {
  background-color: #333;
}

#mainMenu > div.saves > table td {
  transition: color 0.1s linear, background-color 0.1s linear;
  padding: 3px 0;
  cursor: default;
}

#mainMenu > div.saves > table tr:hover > td {
  color: aquamarine;
}

/* Action Buttons */

#mainMenu > div.saves > table tr:hover > td.saveActionButton {
  color: lightgreen;
}

#mainMenu > div.saves > table tr:hover > td.loadActionButton {
  color: rgb(255, 238, 139);
}

#mainMenu > div.saves > table tr:hover > td.deleteActionButton {
  color: lightcoral;
}

#mainMenu > div.saves > table tr:hover > td.exportActionButton {
  color: pink;
}

#mainMenu > div.saves > table td.pad {
  padding: 0 1px;
}

#mainMenu > div.saves > table td.actionButton {
  cursor: pointer;
}

/* Action Buttons - Events */

#mainMenu > div.saves > table td.actionButton:hover {
  color: black !important;
}

#mainMenu > div.saves > table td.saveActionButton:hover {
  background-color: lightgreen;
}

#mainMenu > div.saves > table td.loadActionButton:hover {
  background-color: rgb(255, 238, 139);
}

#mainMenu > div.saves > table td.deleteActionButton:hover {
  background-color: lightcoral;
}

/* Saves List Buttons (New, Import, Export) */

#mainMenu > div.saves > div {
  width: 80%;
  margin: 10px 10% 0 10%;
  padding: 5px 0;
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
}

#mainMenu > div.saves > div:hover {
  background-color: #272727;
}

#mainMenu > div.saves > div:hover > label {
  color: white;
}

#mainMenu > div.saves > div > .actionButtons {
  background-color: #272727;
  border: solid 1px gray;
  flex-grow: unset;
  font-size: 16px;
  padding: 5px;
  margin: 0 7px;
  cursor: pointer;
  transition: color 0.1s linear, background-color 0.1s linear;
  width: 90px;
  text-align: center;
}

#mainMenu > div.saves > div > .actionButtons:first-child {
  margin-right: 0;
}

#mainMenu > div.saves > div > .actionButtons:hover {
  background-color: #333;
  color: aquamarine;
}

/* Dynamic Stuff */

#mainMenu > div.saves > table tr.deleting {
  opacity: 0;
}

#mainMenu > div.saves > table tr.creating {
  animation-name: menuRowFadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
  animation-timing-function: linear;
}

@keyframes menuRowFadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

/* Config Stuff */

#mainMenu .mainMenuExampleDate, #mainMenu .mainMenuExampleDate * {
  color: gray;
  cursor: default;
  width: 300px;
}

/* Version Number */

#mainMenu > p {
  position: absolute;
  top: 0px;
  padding: 5px;
  right: 0px;
  align-self: flex-start;
  width: auto;
  color: gray;
  transition: color 0.1s linear
}

#mainMenu > p:hover {
  color: lightgray;
}